services:
  php:
    image: php:8.3-fpm
    container_name: php
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./:/var/www
    working_dir: /var/www
    depends_on:
      - mysql
    networks:
      - laravel
    command: >
      bash -c "
      composer install &&
      php artisan key:generate &&
      php artisan migrate --seed &&
      php-fpm"
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret

  node:
    image: node:22
    container_name: node
    working_dir: /var/www
    volumes:
      - ./:/var/www
    command: >
      bash -c "
      npm install &&
      npm run build &&
      tail -f /dev/null"
    depends_on:
      - php

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - laravel

  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  mysql_data:
